{
  "root": true,
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "plugins": ["react", "react-hooks", "jsx-a11y"],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "react/jsx-filename-extension": [
      "warn",
      { "extensions": [".tsx", ".jsx"] }
    ],
    "react/prop-types": "off",
    "react/no-unused-prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",
    "camelcase": "warn",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "labelComponents": ["LabelWrapper"],
        "labelAttributes": ["label"],
        "controlComponents": [
          "InputText",
          "InputNumber",
          "Select",
          "MixedCheckbox",
          "MultiSelect",
          "TextArea"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },

  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        },
        "ecmaVersion": 13,
        "sourceType": "module"
      },
      "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "airbnb",
        "plugin:jsx-a11y/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
      ],
      "plugins": ["@typescript-eslint", "react", "jsx-a11y", "react-hooks"],
      "rules": {
        "@typescript-eslint/array-type": [
          "error",
          { "default": "array-simple" }
        ],
        "@typescript-eslint/explicit-function-return-type": [
          "error",
          {
            "allowExpressions": true
          }
        ],
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "ignoreRestSiblings": true
          }
        ],

        "no-unused-vars": "off",
        "react/jsx-filename-extension": [
          "warn",
          { "extensions": [".tsx", ".jsx"] }
        ],
        "react/prop-types": "off",
        "react/no-unused-prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "react/require-default-props": "off",
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
          }
        ],
        "import/prefer-default-export": "off",
        "react-hooks/exhaustive-deps": "error",
        "react-hooks/rules-of-hooks": "error",
        "camelcase": "warn",
        "jsx-a11y/anchor-is-valid": [
          "error",
          {
            "components": ["Link"],
            "specialLink": ["to"]
          }
        ]
      },
      "settings": {
        "import/resolver": {
          "typescript": {}
        }
      }
    }
  ]
}
