version: '2.2'
services:
  api:
    build: ./packages/server/
    networks:
      - elastic
    ports:
        - 5000:5000
    volumes: 
        - db:/usr/share/app/db
    env_file: 
        - ./packages/server/.env_prod
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.2
    container_name: es01
    environment:
      - node.name=es01
      - cluster.name=es-docker-cluster
      # - discovery.seed_hosts=es01,es03
      - cluster.initial_master_nodes=es01
      - bootstrap.memory_lock=true
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - data01:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - elastic
volumes:
  data01:
    driver: local
  db:
    driver: local
networks:
  elastic:
    driver: bridge
