.dataset-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  h1 {
    text-align: center;
  }
  .dataset-details {
    width: 360px;
    padding: 20px 40px;
  }
  .dataset-recomendataions {
    flex: 1;
    background-color: #f7fafc;
    padding: 20px 40px;
  }
}
