nav.side-nav {
  display: flex;
  flex-direction: column;
  background-color: #0b0e12;
  color: white;
  width: 88px;
  align-items: center;
  padding: 16px 16px;
  box-sizing: border-box;
  a {
    text-align: center;
    margin-bottom: 58px;
    svg {
      color: white;
      width: 32px;
      height: 32px;
    }
  }
  h1 {
    color: white;
    font-size: 11px;
  }

  img {
    width: 32px;
  }
}
