// Color Variables
$PaleGrey: #f1f1f2;
$LightGrey: #b2b2b2;

.home-page {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 'Filters Datasets';
  width: 100%;
  height: 100%;
}

.filters {
  grid-area: Filters;
  display: flex;
  flex-direction: column;
}

.datasets .pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0;

  li {
    padding: 5px;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      color: $LightGrey;
    }
    &.active {
      font-weight: 600;
    }
    &:hover {
      text-decoration: underline;
      &.disabled {
        text-decoration: none;
      }
    }
  }
}

.count-and-sort {
  display: flex;
  justify-content: space-between;
}
.datasets {
  grid-area: Datasets;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f8f8f8;

  .search {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.dataset-list {
  overflow-y: auto;
  flex: 1;
  box-sizing: border-box;
  padding: 0px;
}
