// Color Variables
$PaleGrey: #f1f1f2;
$LightGrey: #b2b2b2;

.home-page {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: 'Tags Datasets' 'Categories Datasets';
  width: 100%;
  height: 100%;
}

.tags {
  width: 100%;
  height: 100%;
  background-color: white;
  grid-area: Tags;
}

.search {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 0px 20px 0px;

  input {
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
  }
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0;

  li {
    padding: 5px;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      color: $LightGrey;
    }
    &.active {
      font-weight: 600;
    }
    &:hover {
      text-decoration: underline;
      &.disabled {
        text-decoration: none;
      }
    }
  }
}

.categories {
  text-align: left;
  grid-area: Categories;
  overflow-y: auto;
  background-color: white;
}

.datasets {
  grid-area: Datasets;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.dataset-list {
  overflow-y: auto;
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}
