// Color Variables
$PaleGrey: #f1f1f2;
$LightGrey: #b2b2b2;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
ul {
    list-style: None;
    padding: 0px;
    margin: 0px;
}

h1 {
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 2px 0;
}

h2 {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
}

a.title {
    color: black;
    text-align: left;
}

h3 {
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
}

p {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}

#root {
    width: 100vw;
    height: calc(100vh - 30px);
}

.App {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.content {
    flex: 1;
    display: flex;
    overflow-x: auto;
}

.collection-button {
    border: none;
    background: none;
    background-color: #e7f2ff;
    color: #0078ff;
    height: 24px;
    width: fit-content;
}
.dataset-joins {
    height: 100%;

    ul {
        overflow-y: auto;
        height: 500px;
    }
}

.tag-selector {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.selected {
    font-weight: bold;
}

button {
    font-weight: bold;
    color: white;
    border: none;
    background: none;
    background-color: #1c4d5e;
    //    background-color: #e7f2ff;
    height: 24px;
    width: 131px;
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
input[type='button'] {
    outline: none;
}
input[type='button']::-moz-focus-inner {
    border: 0;
}

button.header-button {
    color: white;
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    &:active {
        outline: none;
    }
}

button.header-button {
    color: white;
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    &:active {
        outline: none;
    }
}

.bold {
    font-weight: 700;
}
.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    li {
        padding: 5px;
        cursor: pointer;
        &.disabled {
            cursor: not-allowed;
            color: $LightGrey;
        }
        &.active {
            font-weight: 600;
        }
        &:hover {
            text-decoration: underline;
            &.disabled {
                text-decoration: none;
            }
        }
    }
}
.networkNav__cta {
    position: absolute;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    button {
        width: fit-content;
    }
}

.search {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px 20px 0px;

    input {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
}
