// Color Variables
$PaleGrey: #f1f1f2;
$LightGrey: #b2b2b2;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

ul {
  list-style: None;
  padding: 0px;
  margin: 0px;
}

h1 {
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 2px 0;
}

h2 {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

a.title {
  color: black;
  text-align: left;
}

h3 {
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
}

p {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    padding: 8px 32px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
}
.content {
  flex: 1;
}

.collection-button {
  border: none;
  background: none;
  background-color: #e7f2ff;
  color: #0078ff;
  height: 24px;
  width: fit-content;
}
.dataset-joins {
  height: 100%;

  ul {
    overflow-y: auto;
    height: 500px;
  }
}

.tag-selector {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.selected {
  font-weight: bold;
}

button {
  font-weight: bold;
}

.bold {
  font-weight: 700;
}
.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  li {
    padding: 5px;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      color: $LightGrey;
    }
    &.active {
      font-weight: 600;
    }
    &:hover {
      text-decoration: underline;
      &.disabled {
        text-decoration: none;
      }
    }
  }
}

.search {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 0px 20px 0px;

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
}
