.create-collection-modal {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  input {
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0px;
  }
  ul {
    margin: 20px 0px;
  }
}
